.vscode/
.ipynb_checkpoints
**/.ipynb_checkpoints/*
*__pycache__*
*output*
*ini*
*db*
/logs
/checkpoints
config/
save/
new_net/*
*img*
*.pt
step/cross_model.py
**/optimizer/**
**/output/**
**/inputs/**
**/db/**
transforms/*
data/*
